*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MainFont";
}
body
{
    width: 100%;
}
@font-face {
    font-family: "LogoFont";
    src: url(../Fonts/Shizuru/Shizuru-Regular.ttf);
}

@font-face {
    font-family: "MainFont";
    src: url(../Fonts/bpg_nino_mtavruli_normal_[FONTS.GE]/bpg_nino_mtavruli_normal.ttf);
}
@font-face {
	font-family: "MainFontTitle";
	src: url(../Fonts/bpg_nino_mtavruli_bold/bpg_nino_mtavruli_bold.ttf);
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000; /* Adjust the z-index as needed */
  }
.Logo 
{
    font-family: "LogoFont";
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
.logout
{
    font-size: 20px;
    padding: 6px;
    color: white;
    border-radius: 50%;
    text-align: center;
	transition: all 0.3 ease-in-out;
}

.container
{
    max-width: 1200px;
}
.bg-body-tertiary
 {
    background-color: rgb(45 24 9 / 82%) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

#navbarText
{
    gap: 30px;
}
.navbar-nav
{
    gap: 40px;
}
.nav-item .nav-link
{
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding-top: 15px;
}
.nav-item .nav-link:hover
{
    font-weight: 900;
}

.nav-item .active
{
    font-weight: 900;
    margin-left: 30px;
    color: white !important;
}

@media only screen and (max-width: 991px)
{
.Logo { color: black; }
.logout
{
    font-size: 20px;
    padding: 6px;
    color: white;
    border-radius: 50%;
    text-align: center;
	margin-bottom: 10px;
    margin-left: 5px;
}
.navbar-nav
{
    width: 100%;
    margin: 0;
	gap: 0;
}
.nav-item .active
{
    margin-left: 0px;
	margin-top: 10px;
	color: white !important;
}
.nav-item .nav-link
{
	color: white;
    padding-top: 0px;
}
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.header__container
{
	width: 100%;
}
.banner_wrapper{
	position: relative;
	width: 1200px;
	max-width: 100%;
	margin: 100px auto;
}
.next_arrow{
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	background: url('../MainPage/MainPageImages/next.png') center center no-repeat;
	background-size: 60%;
}
.prev_arrow{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	background: url('../MainPage/MainPageImages/prev.png') center center no-repeat;
	background-size: 60%;
}
.banner{
	max-width: 100%;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}
.banner_box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.banner_box:first-of-type{
	position: relative;
	opacity: 1;
	z-index: 1;
}
input{
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
label{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
input+input{
	right: auto;
	left: 0;
}
input:first-of-type,
label:first-of-type{
	z-index: 3;
}

input:checked{
	z-index: 0;
}
input:checked + input+label+.banner_box+input{
	z-index: 4
}
input:checked + input+label+.banner_box{
	z-index: 0;
	opacity: 0;
}
input:checked + input+label+.banner_box+input+input+label{
	z-index: 4;
}
input:checked + input+label+.banner_box+input+input+label+.banner_box{
	z-index: 2;
	opacity: 1;
}

input+input:checked + label{
	z-index: 4;
}
input+input:checked + label+.banner_box{
	z-index: 2;
	opacity: 1;
}


.banner_box img
{
    width: 100%;
    max-width: 100%;
    min-height: 30vh;
    object-fit: cover;
}

#Heart
{
		display: none;
		font-weight: 900;
		color: white;
		position: absolute;
		top: 0px;
		right: 20px;
		font-size: 20px;
}

#Card:hover #Heart
{
	display: block;
	top: 20px;
}

.header__first__container
{
	width: 100%;
	min-height: 80vh;
	margin-top: 100px;
}

.row__inner__container
{
	display: flex;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
}
.row__dContainer
{
	display: flex;
	width: 625px;
	max-width: 100%;
	flex-wrap: nowrap;
}

.Card__image__inner
{
	width: 200px;
	max-width: 100%;
	min-height: 300px;
}

#Card
{
	width: 200px;
	max-width: 100%;
}



.header__container__third
{
	width: 100%;
	margin-top: 70px;
}

.header__container__inner__third
{
	width: 1200px;
	max-width: 100%;
	margin: auto;
}

.header__container__third span
{
	color: black;
	font-size: 20px;
	font-weight: 800;
	font-family: "MainFontTitle";
}


.inner__fourth__container
{
	width: 1200px;
	max-width: 100%;
	margin: 40px auto;
}

.container {
	width: 1200px;
	margin: auto;
  }

  .big-box {
	display: flex;
	align-items: center;
	width: 1200px; /* Adjusted width for big-box */
	height: 400px;
	max-width: 100%;
	background-color: #f2f2f2;
	border: 2px solid black;
	margin: auto;
	padding: 10px;
  }

  .big-box img {
	width: 150px;
	height: 150px;
	margin-right: 20px;
  }

  .scrollable-container {
	margin: 20px auto;
	width: 900px;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #888;
	padding-bottom: 10px;
	margin-bottom: 20px;
	-webkit-overflow-scrolling: touch;
  }

  .small-box {
	width: 90px; /* Adjusted width for small-box */
	height: 80px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	border: 1px solid black;
  }
















@media only screen and (max-width: 1245px)
{

.banner_wrapper
{
	width: 100%;
}

.header__container
{
	width: 100%;
	margin-top: 100px;
}
.row__dContainer
{
		display: flex;
		width: 625px;
		max-width: 100%;
		flex-wrap: nowrap;
		margin: auto;
		margin-top: 20px;
}

#Card
{
	width: 200px;
	max-width: 100%;
}
.row__inner__container
{
	
	flex-wrap: wrap;
}
}



@media only screen and (max-width: 700px)
{

	
.row__dContainer
{
		display: block;
		width: 210px;
		max-width: 100%;
		flex-wrap: wrap;
		margin: auto;
		margin-top: 20px;
}

#Card
{
	width: 200px;
	max-width: 100%;
	margin-top: 20px;
}
.row__inner__container
{
	
	flex-wrap: wrap;
}
}